<h3>Current Movies In Theater</h3>
<mat-card id="slideshowContainer">
    <div id="row" *ngFor="let img of dbImgs">
        <mat-card id="imgCard">
          <img mat-card-image id="moviePoster" src="https://image.tmdb.org/t/p/w500/{{img.poster}}"/>
          <mat-card-footer>
            <a id="moreDetailBttn" mat-button routerLink="/movie/{{img.id}}">More Detail</a>
          </mat-card-footer>
        </mat-card>
      </div>
</mat-card>

<h3>Upcomming Movies</h3>
<mat-card id="slideshowContainer">
    <div id="row" *ngFor="let img of imgs">
        <mat-card id="imgCard">
          <img mat-card-image id="moviePoster" src="https://image.tmdb.org/t/p/w500/{{img.poster_path}}"/>
          <mat-card-footer>
            <a id="moreDetailBttn" mat-button routerLink="/movie/{{img.id}}">More Detail</a>
          </mat-card-footer>
        </mat-card>
      </div>
</mat-card>