<mat-card id="adminhomeCard">
    <a mat-button (click)="logout()">Logout</a>
</mat-card>

<mat-card id="adminhomeCard">
  <div id="topDiv">
    <mat-card id="smallCard">
      <h5 id="label01">Total Users</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">20</h4>
    </mat-card>
    <mat-card id="smallCard">
      <h5 id="label01">Total Movies In Theater</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">10</h4>
    </mat-card>
    <mat-card id="smallCard">
      <h5 id="label01">????</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">?</h4>
    </mat-card>
    <mat-card id="smallCard">
      <h5 id="label01">????</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">?</h4>
    </mat-card>
  </div>
</mat-card>

<mat-card id="adminhomeCard">
  <div id="middleDiv">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Users">
        <!-- first tab-->

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title><h4>Show All Users</h4></mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button style="margin-bottom: 10px; background-color: crimson; color: white; outline: none;" (click)="getAllUsers()">Show me all users in Database</button>

            <div class="dataTable mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">
                
                <ng-container matColumnDef="userid">
                  <th mat-header-cell *matHeaderCellDef>User Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef>First Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef>Last Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>E-mail</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef>Username</th>
                  <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef>Role</th>
                    <td mat-cell *matCellDef="let element"> {{element.role.roleName}} </td>
                  </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title><h4>Get User By Id</h4></mat-panel-title>
            </mat-expansion-panel-header>
            <p>Content</p>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>
      <mat-tab label="Movies">
        <!-- second tab -->

      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>