<mat-card id="adminhomeCard">
  <a mat-button (click)="logout()">Logout</a>
</mat-card>

<mat-card id="adminhomeCard">
  <div id="topDiv">
    <mat-card id="smallCard">
      <h5 id="label01">Total Users</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">{{totalUser}}</h4>
    </mat-card>
    <mat-card id="smallCard">
      <h5 id="label01">Total Movies In Theater</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">{{totalMovieInDb}}</h4>
    </mat-card>
    <mat-card id="smallCard">
      <h5 id="label01">????</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">?</h4>
    </mat-card>
    <mat-card id="smallCard">
      <h5 id="label01">????</h5>
      <mat-divider></mat-divider>
      <h4 id="label02">?</h4>
    </mat-card>
  </div>
</mat-card>

<mat-card id="adminhomeCard">
  <div id="middleDiv">
    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Users">
        <!-- first tab-->

        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>User Management</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button style="margin-bottom: 10px; background-color: rgb(1, 82, 32); color: white; outline: none;"
              (click)="getAllUsers()">Show me all users in Database</button>

            <div class="dataTable mat-elevation-z8">
              <table mat-table [dataSource]="dataSource">

                <ng-container matColumnDef="userid">
                  <th mat-header-cell *matHeaderCellDef>User Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef>First Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
                </ng-container>

                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef>Last Name</th>
                  <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>

                <ng-container matColumnDef="email">
                  <th mat-header-cell *matHeaderCellDef>E-mail</th>
                  <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="username">
                  <th mat-header-cell *matHeaderCellDef>Username</th>
                  <td mat-cell *matCellDef="let element"> {{element.username}} </td>
                </ng-container>

                <ng-container matColumnDef="role">
                  <th mat-header-cell *matHeaderCellDef>Role</th>
                  <td mat-cell *matCellDef="let element"> {{element.role.roleName}} </td>
                </ng-container>
                <ng-container matColumnDef="tasks">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"><a style="background-color: crimson; color: white;" mat-button (click)="deleteUser(element)">Delete</a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>
      <mat-tab label="Movies">
        <!-- second tab -->
        <mat-accordion>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Adding New Movie To Theater</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <!-- Content begin here -->
            <h5>Upcoming Movies</h5>
            <div class="MDataTable mat-elevation-z8">
              <table mat-table [dataSource]="dataSource02">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Movie Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef>Movie Title</th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="release_date">
                  <th mat-header-cell *matHeaderCellDef>Release Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.release_date | date: 'MM-dd-yyyy'}} </td>
                </ng-container>

                <ng-container matColumnDef="tasks">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"><a mat-button (click)="openMovieInfoBox(element)">More Info</a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns02; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns02;"></tr>
              </table>
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h4>Movie Management</h4>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <button mat-button style="margin-bottom: 10px; background-color: rgb(50, 156, 237); color: white; outline: none;"
              (click)="getAllCurrentMovies()">Show me all current movies in Theater</button>
            <!-- content here -->
            <div class="MDataTable mat-elevation-z8">
              <table mat-table [dataSource]="dataSource03">

                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>Movie Id</th>
                  <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>

                <ng-container matColumnDef="title">
                  <th mat-header-cell *matHeaderCellDef>Movie Title</th>
                  <td mat-cell *matCellDef="let element"> {{element.title}} </td>
                </ng-container>

                <ng-container matColumnDef="tasks">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element"><a mat-button style="background-color: crimson; color: white;"  (click)="deleteMovieInfoBox(element)">DELETE</a>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns03; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns03;"></tr>
              </table>
            </div>
          </mat-expansion-panel>
        </mat-accordion>

      </mat-tab>
    </mat-tab-group>
  </div>
</mat-card>