<h1 mat-dialog-title>Movie Infomation</h1>
<div mat-dialog-content>
    <h3>{{title}}</h3>
    <p>Movie ID: {{id}}</p>
    <mat-divider></mat-divider>
    <div style="text-align: center;">
        <mat-select [(value)]="movieTimeValue" placeholder="Add time for the movie...">
            <mat-option *ngFor="let movieTime of movieTimes" [value]="movieTime.value">
                {{movieTime.viewValue}}
            </mat-option>
        </mat-select>
        <button mat-button (click)="sendMovieToDb()">Add This Movie To Theater!</button>
    </div>
</div>