<nav class="navbar navbar-dark bg-dark">
    <a id="logo" routerLink="welcome" routerLinkActive="active">
        <img src="../assets/imgs/ttvcine_logo.png" height="25px" width="150px"
            onmouseover="this.src='../assets/imgs/ttvcine_logo_hover.png'"
            onmouseout="this.src='../assets/imgs/ttvcine_logo.png'">
    </a>
    <div class="form-inline">
        <button class="btn btn-outline-primary" type="button" routerLink="search-movie">Search</button>
        <button *ngIf="!loginservice.isUserLogin()" class="btn btn-outline-primary" type="button" routerLink="login"
            routerLinkActive="active">Login</button>
        <button *ngIf="!loginservice.isUserLogin()" class="btn btn-outline-secondary" type="button" routerLink="signup"
            routerLinkActive="active">Sign Up</button>
        <div *ngIf="loginservice.isUserLogin()" class="btn-group">
            <a mat-button style="color: white;" [matMenuTriggerFor]="appMenu" ><mat-icon style="color: white;">face</mat-icon> {{username}}</a>
            <mat-menu #appMenu="matMenu">
                <a mat-menu-item routerLink="user-home" routerLinkActive="active">Your Info</a>
                <mat-divider></mat-divider>
                <a mat-menu-item>Logout</a>
            </mat-menu>
        </div>

    </div>
</nav>