#movieDetailContainer {
    margin: 5px auto;
    width: 96%;
}

#moviePoster01 {
    /* Make img blur @Viet */
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

#moviePoster02 {
    position: absolute;
    width: 34%;
    height: 75%;
    left: 10px;
    top: 95px;
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.75);
}

#infoContainer {
    color: white;
    text-shadow:5px 5px 10px black;
    width: 45%;
    position: absolute;
    right: 20px;
    top: 95px;
}

td {
    vertical-align: top;
    padding: 6px;
}
.btn-success {
    margin-right: 20px;
}

button {
    outline: none;
}

#ticketBtnDiv {
    margin-top: 10px;
    margin-left: 24%;
    margin-bottom: 20px;
}

#ticketBtn01 {
    height: 50px;
    font-size: 20px;
    width: 70%;
    background-color: #54ceff;
    color: white;
}

#orderCard {
    margin: 10px auto;
    width: 60vh;
}