<mat-card id="signupCard">
  <div id="mainContainer">
    <form id="signupContainer" >
      <h3 mat-dialog-title>Register New Account</h3>
      <mat-form-field>
        <input matInput placeholder="Your First Name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Your Last Name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Your Email Adress" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>User Name</mat-label>
        <input matInput placeholder="New User Name" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input matInput placeholder="New Password" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirm Password</mat-label>
        <input matInput placeholder="Confirm Your Password" required>
      </mat-form-field>
      <button id="signupBttn" mat-raised-button>Submit</button>
    </form>
  </div>
</mat-card>