<div>
    <h1>Your Information</h1>
    <mat-card>
        <h3>{{userInfo.firstName}} {{userInfo.lastName}}</h3>
        <table>
            <tr>
                <td>Your TTV ID number:</td>
                <td>{{userInfo.id}}</td>
            </tr>
            <tr>
                <td>Your Username:</td>
                <td>{{userInfo.username}}</td>
            </tr>
            <tr>
                <td>Your Email Address:</td>
                <td>{{userInfo.email}}</td>
            </tr>
        </table>
    </mat-card>
</div>