#userhomeContainer {
    width: 96%;
    margin: 10px auto;
    display: table;
}

#userImg {
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.222);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.222);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.222);
}

#userleftNav{
    float: left;
    text-align: center;
    left: 5px;
    width: 20%;
    height: 100vh;
}

a {
    text-decoration: none;
}

#userContentDiv {
    float: right;
    width: 78%;
    height: 100vh;
}

#tabBtn {
    width: 100%;
}