#userhomeContainer {
    width: 96%;
    margin: 10px auto;
    display: table;
}

#userImg {
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.222);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.222);
    box-shadow: 10px 10px 16px 0px rgba(0,0,0,0.222);
}

#userleftNav{
    float: left;
    text-align: center;
    left: 5px;
    width: 20%;
    height: 100vh;
}

a {
    text-decoration: none;
}

#userContentDiv {
    float: right;
    width: 78%;
    height: 100vh;
}

#tabBtn {
    width: 100%;
}

td {
    padding: 5px 30px;
    font-size: 20px;
}

/* ==================================================== */
/* Ticket Shape! */
.ticket {
    display: flex;
    color: white;
    background: #4a4a4a;
    padding: 25px 30px;
    margin:20px;
    border:4px dotted #fff;
    overflow: auto;
    border-radius: 0 30px 30px 0;
}



  
  